.collection {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    text-align: center;
    margin: 1rem;
    align-items: center;
    padding: 0.4rem 0.2rem;
    border: 0.3rem solid #00a1ec;
}

.collection_title {
    width: 50vw;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.collection img {
    width: 5rem;
}

.collection_header {
    width: 100vw;
    margin: 0;
    padding: 1rem 0;
    color: #fff;
    background-color: #00a1ec;
}

.box {
    background-color: #f4f4f4;
}

.box_back {
    margin: 0.5rem;
}